					<div id="main">
					    <% @assignments.each do |post| %>
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#"><%= post.title %></a></h2>
										<p><%= post.quote %></p>
									</div>
									<div class="meta">
										<time class="published" datetime="<%= post.created_at.strftime("%d-%m-%Y")%>"><%= post.created_at.strftime("%B %d, %Y") %></time>
										<a href="#" class="author"><span class="name"><%= post.user.get_display_name %></span><img src="<%= post.user.avatar.url(:thumb) %>" alt="" /></a>
									</div>
								</header>
								<a href="#" class="image featured"><img src="<%= post.avatar.url(:medium) %>" alt="" /></a>

								<p><%= post.description[0..150] %></p>
								<footer>
									<ul class="actions">
										<li><a href="/assignments/<%=post.id%>" class="button big">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon fa-heart">28</a></li>
										<li><a href="#" class="icon fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
					    <% end %>		

						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
								<li><a href="#" class="button big next">Next Page</a></li>
							</ul>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="/assets/logo.jpg" alt="" /></a>
								<header>
									<h2>Ideatree</h2>
									<p>The place where ideas collide and shape up</a></p>
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

										<article class="mini-post">
											<header>
												<h2><a href="/search?tag=popular">Popular posts</a></h2>
										    </header>
										</article>

                                        <% @popular_view.each do |post| %>
											<article class="mini-post">
												<header>
													<h3><a href="#"><%= post.title %></a></h3>
													<!-- Update created_at with published at -->
													<time class="published" datetime="<%= post.created_at.strftime("%d-%m-%Y")%>"><%= post.created_at.strftime("%B %d, %Y") %></time>
													<a href="#" class="author"><img src="<%= post.avatar.url(:medium) %>" alt="" /></a>
												</header>
												<a href="#" class="image"><img src="<%= post.avatar.url(:thumb) %>" alt="" /></a>
											</article>
										<% end %>

								</div>
							</section>

						<!-- Posts List -->
							<section>
								<ul class="posts">
								  <% @popular_list.each do |post| %>
									<li>
										<article>
											<header>
												<h3><a href="#"><%= post.title %></a></h3>
												<time class="published" datetime="2015-10-20"><%= post.created_at.strftime("%B %d, %Y") %></time>
											</header>
											<a href="#" class="image"><img src="<%= post.avatar.url(:thumb) %>" alt="" /></a>
										</article>
									</li>
								  <% end %>	
								</ul>
							</section>

                            <%= render :partial => "layouts/about" %>
							<%= render :partial => "layouts/footer" %>


					</section>

			

		<!-- Scripts -->
			

	
