<div id="main" >
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<p>
  <img src="<%= @assignment.avatar.url(:medium) %>" alt="" />
</p>


<p>
  <strong>User:</strong>
  <%= @assignment.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @assignment.category_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @assignment.status %>
</p>

    
<% if user_signed_in? && current_user.id == @assignment.user_id %>
	<%= link_to 'Edit', edit_assignment_path(@assignment) %>  |
	<%= link_to 'Back', assignments_path %>

<% end -%>

	
</p>
</div>