

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <center>
    <div id="message_u"></div>  
    <div class="form-inputs edit_profile_info" style="width:50%;">
      <center><h2 style="margin:0px;">Edit Your Profile</h2></center>
      <table style="" class="edit_profile_table"> 
        <tr>
          <td class="p-5">
            <%= f.input :email, required: true, autofocus: true %>
          </td>
        </tr>    
        
        <tr>
          <td class="p-5">
            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
          </td>        
        </tr>

        <tr>
          <td class="p-5">
            <%= f.input :password_confirmation, required: false %>
          </td>        
        </tr>

        <tr>
          <td class="p-5">
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          </td>        
        </tr>        
      
        <tr>
          <td class="p-5">
            <%= f.text_field :first_name , :placeholder => "First Name", :value => current_user.first_name %>
          </td>        
        </tr>  

        <tr>
          <td class="p-5">
            <%= f.text_field :middle_name , :placeholder => "Middle Name", :value => (current_user.middle_name.present?) ? current_user.middle_name : "" %>
          </td>
        </tr>

        <tr>
          <td class="p-5">
            <%= f.text_field :last_name, :placeholder => "Last Name", :value => (current_user.last_name.present?) ? current_user.last_name : "" %>
          </td>        
        </tr>

        <tr>
          <td class="p-5" style="">
            <div class="edit_profile_select">
                <%= collection_select(:user, :country, Country.all.to_a.sort, :id, :name, {:selected => current_user.country ? current_user.country : Country.first.id })  %>
            </div>
          </td>
        </tr>
    </div>
    
    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  </center>
<% end %>



<%= link_to "Back", :back %>
