<div id="main">
					    <% post = @assignment %>
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#"><%= post.title %></a></h2>
										<p><%= post.quote %></p>
									</div>

									<div class="meta">
										<time class="published" datetime="<%= post.created_at.strftime("%d-%m-%Y")%>"><%= post.created_at.strftime("%B %d, %Y") %></time>
										<a href="#" class="author"><span class="name"><%= post.user.get_display_name %></span><img src="<%= post.user.avatar.url(:medium) %>" alt="" /></a>
									</div>
								</header>
								<a href="#" class="image featured"><img src="<%= post.avatar.url(:original) %>" alt="" /></a>

								<p><%= post.description %></p>
								<footer>
									
									<ul class="stats">
										<li><a href="#">Place tags here</a></li>

 										<% if @like_obj %> 
                        					<% likepic,unlikepic = case @like_obj.where(assignment_id: post.id,user_id: current_user.id).first.status 
                            					when true
                                					["thumbs-up","empty_thumbs-down"]
                            					when false
                               						["empty_thumbs-up","thumbs-down"]
                            					when nil
                                					["empty_thumbs-up","empty_thumbs-down"]
                            				end %>
                        					<% like_count = @like_count
                            				unlike_count = @unlike_count %>
                  
                    					<% else %>
                        					<% like_count = 0
                            				unlike_count = 0
                            				likepic,unlikepic = ["empty_thumbs-up","empty_thumbs-down"] %>
                    					<% end %>

                    					<li class="like-count" id="like-<%= post.id %>">
                    						<%= like_count %>  
                    					</li>
                    					<li id="likepic-<%= post.id %>">
                    					<%= link_to image_tag(likepic), like_assignment_path(post,status: true),  class: 'vote', method: :put, remote: true %>
                    					</li>

                   						<li class="unlike-count" id="unlike-<%= post.id %>">
                    						<%= unlike_count %>
                    					</li>
                    					<li id="unlikepic-<%= post.id %>">
                    						<%= link_to image_tag(unlikepic), like_assignment_path(post,status: false), class: 'vote', method: :put , remote: true  %>
                   						</li>

										<!-- <li><a href="#" class="icon fa-heart">28</a></li> -->
										<% if false #@comments[post.id].blank? %> 
										<li><a href="#" > <%= @comments[post.id].count %></a>
											<a href="#" > <%= link_to image_tag("comment.png"), comments_path(post.id)  %> </a>
										</li>
										<% end %>

									</ul>
								</footer>
							</article>

						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
								<li><a href="#" class="button big next">Next Page</a></li>
							</ul>

					</div>