
                    <div style="font-size:20px;margin-top:50px ; width:620px; float:left;">
                        <%= assignment.user_id %>
                    </div> 

                    <% if user_signed_in? && current_user.id == assignment.user_id %>
                    <div style="width:40px; float: right">
                        <%= link_to image_tag("edit.png", :size => "15x15"),edit_assignment_path(assignment) %>

                    
                        <%= link_to image_tag("delete.png", :size => "15x15"),assignment, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                    <% end -%>
               <br>
                    <%# if File.exist?(assignment.avatar.url) %>
                    <%= image_tag assignment.avatar.url, :size => "400x300" %>
                    <%#end%>
               <br>
                    <div style="font-size:20px">
                        <%= assignment.description %>
                    </div>
               <br>Category = <%= assignment.category_id %><br>
                
                <% if @comments[assignment.id] != nil %>
                    <%= render :partial => "comments/assgn_comment",:locals => {:comments => @comments[assignment.id], :com => @com, :assignment => assignment.id} %>

                <% end %>
                
                
                

                <% if user_signed_in? && current_user.id == assignment.user_id %>
              
                    <%#= link_to 'Edit ', edit_assignment_path(assignment) %>
              
                
                <br>
                <% end %>
           
<div style="display:table;">
    <table style="margin:5px;" class='table' id='comment_table'>
    <thead>
      <tr>
        <th>Content</th>
      </tr>
    </thead>
    <tbody id="comment-modal">
      <% @comments.each do |comment| %>
        
           <%= render partial: 'comments/table_row', locals: {comment: comment} %>

          <%#= "comment assignment id : #{@assignment.id}" %>
          <!--<td><%= comment.content %></td>
          <%# if current_user.id.to_s == comment.user_id.to_s %>
          <td><%#= link_to 'Like', edit_comment_path(comment) %></td>

          <td><%#= link_to 'Edit', edit_comment_path(comment) %></td>
          <td><%#= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%# end %> -->
         
      <% end %>
    </tbody>
  </table>
</div>

<%#= form_for( remote: true, url: create_comment_ajax_url) do |f| %>

  <!-- <div class="field" >
      <%#= f.label :comment_here %>:
      <%#= f.text_field :content, :id => "com" %><br />

    </div>
    <div class="actions">
    <%#= submit_tag onSubmit="submitComment();"%>
        <%#= hidden_field_tag 'assignment_id', assign %> 
       <script type="text/javascript">
          $('#com').val('');
       </script>
  </div> -->
<%# end %>


<script>
  var submitComment = function(){
      $.ajax(
        url: "/create_comment_ajax",
        method: post,
        //data: 1,
      data: {content: content, assignment: assign},
    success: function displayBackComment(){
           $("#comment-modal").append("content");
           $("#comment-modal").modal("content");

       }
     
     )};
</script>

