<%# raise @comments.where(assignment_id: @assignment.id).inspect %>

                    <% if user_signed_in? && current_user.id == @assignment.user_id %>
                    <div style="width:40px; float: right">
                        <%= link_to image_tag("edit.png", :size => "15x15"),edit_assignment_path(@assignment) %>

                    
                        <%= link_to image_tag("delete.png", :size => "15x15"),@assignment, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                    <% end -%>
               <br>
                    <%# if File.exist?(assignment.avatar.url) %>
                    <%= image_tag @assignment.avatar.url, :size => "400x300" %>
                    <%#end%>
               <br>
                    <div style="font-size:20px">
                        <%= @assignment.description %>
                    </div>
               <br>Category = <%= @assignment.category_id %><br>
                
                <% if @comments[@assignment.id] != nil %>
                    <div style="display:table;">
    <table style="margin:5px;" class='table' id='comment_table'>
    <thead>
      <tr>
        <th>Content</th>
      </tr>
    </thead>
    <tbody id="comment-modal">
      <% @comments.where(assignment_id: @assignment.id).each do |comment| %>
        
           <tr>
<td> 
<div style="background:#f1f1f1;width:600px; border-style: outset; box-shadow: 0 2px 4px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0.18) !important;" >  
 
<p id="editme"><%= comment.content %></p>
<script type="text/javascript">
 new Ajax.InPlaceEditor('editme', '/demoajaxreturn.html');
</script>
 </td>

          <% if current_user.id.to_s == comment.user_id.to_s %>
          <td><%= link_to 'Like', edit_comment_path(comment) %></td>

          <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
          <%# raise comment.inspect%>
          <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %> 
         </tr>
         </div>

      <% end %>
    </tbody>
  </table>
</div>

                <% end %>
                
                
                

                <% if user_signed_in? && current_user.id == @assignment.user_id %>
              
                    <%#= link_to 'Edit ', edit_assignment_path(assignment) %>
              
                
                <br>
                <% end %>
           



<script>
  var submitComment = function(){
      $.ajax(
        url: "/create_comment_ajax",
        method: post,
        //data: 1,
      data: {content: content, assignment: assign},
    success: function displayBackComment(){
           $("#comment-modal").append("content");
           $("#comment-modal").modal("content");

       }
     
     )};
</script>

