<head>
  <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"> -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!--<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"> -->
  </script>
</head>

<div id="main" >
  <% ideas = @user.assignments.where(status: false) %>
  <% if ideas.present? %>
    <h2>Ideas by <%= @user.name ||=  @user.get_display_name %></h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Description</th>
          <th>Category</th>
          <th>View</th>
        </tr>
      </thead>

      <tbody>
        <% @user.assignments.where(status: false).each do |assignment| %>
          <tr>
            <td><%= image_tag assignment.avatar.url(:thumb), :size => "30x30" %></td>
            <td><%= assignment.description %></td>
            <td><%= assignment.category_id %></td>
            <td><a href="/fresh_page_view/<%=assignment.id%>"> Show </a></td>  
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h2>No Ideas Submitted By <%= @user.get_display_name %></h2>
    <div style="background-image: url('/assets/skull.jpg');"></div>
  <% end %>  
</div>
  
