<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<div id="main" >

<%#= render :partial => "shared/home_nav_bar" %>
<h2>Listing Ideas submitted by User <%= @user.name %> </h2>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Description</th>
      <th>Category</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.assignments.each do |assignment| %>
      <tr>
        <td><%= image_tag assignment.avatar.url(:thumb), :size => "30x30" %></td>
        <td><%= assignment.description %></td>
        <td><%= assignment.category_id %></td>
        <td><%= assignment.status %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%#= raise @like_obj.inspect %>
        <% if !@like_obj.where(assignment_id: assignment.id, user_id: current_user.id).blank? %> 

                                  <% likepic,unlikepic = case @like_obj.where(assignment_id: assignment.id,user_id: current_user.id).first.status 
                                      when true
                                          ["thumbs-up","empty_thumbs-down"]
                                      when false
                                          ["empty_thumbs-up","thumbs-down"]
                                      when nil
                                          ["empty_thumbs-up","empty_thumbs-down"]
                                    end %>
                                  <% like_count = @like_count[assignment.id.to_s].to_i
                                    unlike_count = @unlike_count[assignment.id.to_s].to_i %>
                              <% else %>
                                  <% like_count = 0
                                    unlike_count = 0
                                    likepic,unlikepic = ["empty_thumbs-up","empty_thumbs-down"] %>
                              <% end %>
        <td> <%= @like_count[assignment.id.to_s].to_i %></td>
        <td><%= link_to image_tag(likepic), like_assignment_path(assignment,status: true),  class: 'vote', method: :put, remote: true %>
        </td>
        <!-- html for the page with modal -->
        <td id="liked_by_<%=assignment.id%>"> <%= link_to image_tag(likepic), likedby_path(id: assignment.id), :remote => true, :method => :get %>
        </td>
        <td><%= unlike_count %></td>
        <td><%= link_to image_tag(unlikepic), like_assignment_path(assignment,status: false), class: 'vote', method: :put , remote: true  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<body>

<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <% @asp = ["dsds"] %>
 <%= render :partial => "likedby_modal", locals: {liked_by: @asp} %>

  
</div>

</body>
</html>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</div>
