 <header id="header">

	<h1><a href="/assignments">Ideatree</a></h1>
	<nav class="links">
		<ul>
			<li><a href="/assignments">Browse</a></li>
			<li><a href="/assignments/new">Submit</a></li>
			<li><a href="/users/<%= current_user.id %>">Contributions</a></li>
			<div style="float:right"> 
			<li> <%= form_tag(search_path, :method => "get", :action => "/search", id: "search-form") do %>
				<input type="text" name="query" placeholder="Search" />
				<% end %>
			</li>
			<li>
			 	 <a href="/users/<%= current_user.id %>"><strong><%= current_user.name ||= current_user.get_display_name %></strong></a>
    	     </li>
			<li >
              <a href="/users/<%= current_user.id %>" ><%= image_tag current_user.avatar.url(:thumb), :size => "40x45", :style => "padding-top:6px" %> </a>
            </li> 
			<%= render 'devise/menu/login_items' %>
			</div>
		</ul>
		 
	</nav>
	
	
<%#= link_to image_tag("search.png"), "#search" , class: "fa-search" %> 
				<!--<a class="fa-search" href="#search"><%= image_tag("search.png")%>Search</a> -->
				<!--<form id="search" method="get" action="/search">
					<input type="text" name="query" placeholder="Search" />
				</form> -->





	
		
	
</header>