<div class="container-fluid" >
  <div class="header-info" style="margin-top:20px;height:30px;position: relative;
    z-index: 1;
    font-size: 17px;
    background-color: #e6e6e6;
    color: #f1f1f1;
    width: 100%;
    letter-spacing: 1px;">
	  <div class="login_account_detail" style="font-color:black">
		  <ul class="hmenu ">
      	  <% if user_signed_in? %>
            <% if current_user.avatar? %>
              <%= image_tag current_user.avatar.url(:thumb), :size => "50x50" %>
            <% end %>
          <a href="/users/<%= current_user.id %>" class="btn btn-primary btn-lg active" role="button">
        	Logged in as <strong><%=current_user.email%></strong></a>
      	  <% end %>
		    <%= render 'devise/menu/registration_items' %>
		    <%= render 'devise/menu/login_items' %>
		  </ul>
	  </div>
  </div>
</div>  